<a href="https://colab.research.google.com/github/git-ashiq/kaggle-diabetes-prediction/blob/master/diabetes_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pima Indians Diabetes Database**

**The Challenge:**

To build a machine learning model to accurately predict whether or not the patients in the dataset have diabetes or not?

**Steps:**

1.   Question or problem definition
2.   Data Collection
3.   Exploratory Data Analysis
4.   Feature Engineering
5.   Modelling
6.   Testing
7.   Submitting

### **1. Defining the problem statement**

**Context:**

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.

**Content:**

The datasets consists of several medical predictor variables and one target variable, Outcome. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on.

**Let us first learn about the diabetes.**

In [0]:
# To display video about diabetes for more information
from IPython.core.display import HTML
HTML('''<iframe width="560" height="315" src="https://www.youtube.com/embed/XfyGv-xwjlI" frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>''')



---

### **2. Data Collection**
Collecting data from kaggle. you can download it from https://www.kaggle.com/uciml/pima-indians-diabetes-database#diabetes.csv

**2.1 Load libraries**

In [0]:
# Import Pandas for Data Manipulation and analyse
import pandas as pd
import numpy as np

# Visulization library
import matplotlib.pyplot as plt
%matplotlib inline

#  Visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
sns.set() # setting seaborn as default for plots

# To suppress the warnings
import warnings

# Customizing the properties and default styles.
plt.style.use('fivethirtyeight')

In [0]:
# load dataset
data = pd.read_csv('https://raw.githubusercontent.com/git-ashiq/kaggle-diabetes-prediction/master/data/diabetes.csv')



---

### **3.1 Exploratory Analysis**

In this stage, we will anaylze the data by following two methods and try to understand the patterns of the data.
*   Analyse by Describing data
*   Analyse by Visualizing data

#### **3.1 Analyze by Describing data**
Data Dictionary, Data Types, Data Informations, Data Statistical Informations

In [24]:
# head() method is used to return top n (5 by default) rows
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [26]:
# To display the column names of the dataset.
print(data.columns.values)

['Pregnancies' 'Glucose' 'BloodPressure' 'SkinThickness' 'Insulin' 'BMI'
 'DiabetesPedigreeFunction' 'Age' 'Outcome']

**Data Dictionary**

1.   PregnanciesNumber of times pregnant
2.   GlucosePlasma glucose concentration a 2 hours in an oral glucose tolerance test
3.   BloodPressureDiastolic blood pressure (mm Hg)
4.   SkinThicknessTriceps skin fold thickness (mm)
5.   Insulin2-Hour serum insulin (mu U/ml)
6.   BMIBody mass index (weight in kg/(height in m)^2)
7.   DiabetesPedigreeFunctionDiabetes pedigree function
8.   AgeAge (years)
9.   OutcomeClass variable (0 or 1) 268 of 768 are 1, the others are 0


---


**Data Types:**

*   Nominal categorical features: Outcome.
*   Ordinal categorical features: -
*   Continous numerical features: Glucose, BloodPressure, SkinThickness, Insulin, BMI DiabetesPedigreeFunction, Age.
*   Discrete numerical features : Pregnancies.
*   Alphanumeric: -
*   Typos: -


---

**Data Information:**

General data information

In [27]:
# print the information of the datasets
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB